footer {
	background-color: #2c1338;
}

.btn {
	background-color: #2c1338;
	color: #fff3ed;
}

nav {
	overflow: hidden;
	position: fixed !important;
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
}

#navMain {
	color: #2c1338;
}

#navMain:hover {
	color: white !important;
	border: 2px solid #2c1338;
}

.btn:hover {
	color: #fff3ed !important;
	background-color: #f68261;
}

.nav-link,
footer > p,
h2 {
	color: #2c1338;
}

footer > p {
	color: white;
}

.btn:hover {
	color: #fff3ed !important;
	background-color: #f68261;
}

.nav-link:hover {
	color: #2c1338 !important;
	border: 2px solid #f68261;
}

h2 {
	margin-top: 30px;
}

body {
	background-color: #fff3ed;
}

video#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -100;
	background-size: cover;
}

input {
	border: 1px solid #f46036 !important;
}

#logo {
	width: 60%;
	height: auto;
}

header {
	height: 100%;
}

#dashboardHeader > h1 {
	color: #f46036;
	font-size: 400%;
}

header > h1 {
	color: #f46036;
	font-family: 'Fredericka the Great', cursive;
	font-size: 400%;
}

.card:hover {
	border: 4px solid #2c1338;
	border-style: groove;
	background-color: #faf7f5;
	/* width: 110%;
	height: 110%; */
}

td {
	background-color: #f68261;
}

tr {
	background-color: #2c1338;
	color: aliceblue;
}

#courseImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-fit: cover;
	margin-bottom: 5px;
}

.jumbotron {
	background-color: aliceblue;
	font-family: 'Fredericka the Great', cursive;
	/* padding-top: 20%;
	padding-bottom: 20%; */
}

.dashboard {
	background-color: transparent;
	font-family: 'Fredericka the Great', cursive;
	padding-top: 20%;
	padding-bottom: 20%;
}

/* html,
body {
	height: 100%;
}

.full-height {
	height: 100%;
} */
